* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --header-color: #10375c;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* Commom */
.container {
    width: 1170px;
    max-width: calc(100 - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    padding: 0 20px;
    min-width: 205px;
    line-height: var(--height);
    height: var(--height);
    color: #fff;
    background: #2e80ce;
    border-radius: 99px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid #2e80ce;
}

.section__heading {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    /* identical to box height, or 120% */
    /* text-align: center; */
    letter-spacing: -0.02em;
    color: #10375c;
}

.section__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.6;
    /* or 167% */

    /* text-align: center; */

    color: #575f66;
}

/* =====Header====== */

.header {
    min-height: 100vh;
    background-color: var(--header-color);
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::after,
.logo__circle::before {
    content: "";
    display: inline-flex;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    top: 1.1em;
    left: 1.1em;
    background: #ffffff;
}

.logo__text {
    margin-left: 0.6em;
    color: #ffffff;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
}
.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
}

.header {
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
}

.navbar__list {
    display: flex;
}
.header-action {
    display: flex;
    align-items: center;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    /* line-height: 1.75; */
    /* identical to box height, or 175% */
    color: #c9d2da;
}
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__item--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__item--active::before {
    position: relative;
    left: -6px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}
.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.hero {
    padding-bottom: 110px;
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}
.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */

    color: #c9d2da;
}
.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero__phone {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */

    text-align: center;

    color: #ffffff;
}

.hero__media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 22px;
    object-fit: cover;
}
.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/*====== All Services======= */
.services {
    padding: 170px 0;
    background: #fff;
}

.services__desc,
.services__heading {
    text-align: center;
}
.services__desc {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.services__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.services__list {
    /* width: 40%; */
    /* padding: 22px; */
}
.services-item {
    width: 470px;
    padding: 21px 22px 20px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background: #fff;
    transition: 0.2s;
}

.services-item__img {
    width: 60px;
    height: 60px;
    background: #2e80ce;
    box-shadow: 0px 8px 16px rgba(40, 155, 222, 0.15);
    border-radius: 30px;
}

.services-item__heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #10375c;
}
.services-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    color: #575f66;
}
.services-item__icon-body {
    margin-left: 19px;
}

.services-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.services-btn {
    margin-top: 75px;
}

.works {
    padding: 100px 0;
    background: #f7fbff;
}

.works__heading {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height, or 120% */

    letter-spacing: -0.02em;

    color: #10375c;
}

.works__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    color: #575f66;
}

.work__list {
    margin-top: 70px;
    display: grid;
    gap: 0 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.work-item {
    border: 16px solid #eaf6ff;
    padding: 43px 42px;
    border-radius: 4px;
    background: #fff;
    transition: 0.25s;
}
.work-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work-item__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 36px;
    /* identical to box height, or 138% */

    color: #10375c;
}
.work-item__desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    /* or 175% */

    color: #575f66;
}

.work-item__link {
    display: inline-block;
    margin-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    color: #2e80ce;
}

/* =====feature====== */
.feature {
    padding: 170px 0 290px;
}
.feature__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__images {
    display: flex;
    width: 60%;
}
.feature__img {
    width: 512px;
    height: 370px;
    filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.07));
    border-radius: 6px;
}
.feature__img:last-child {
    position: relative;
    top: 121px;
    right: 238px;
    width: 332px;
    height: 370px;
    border-radius: 6px;
}

.feature__content {
    width: 40%;
}
.feature__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 60px;
    /* or 120% */

    letter-spacing: -0.02em;

    color: #10375c;
}
.feature__desc {
    margin-top: 18px;
    margin-bottom: 38px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 30px;
    /* or 167% */

    color: #575f66;
}
